[
  {
    "name" : "io.rsocket.cli.Main",
    "fields" : [
      { "name" : "arguments", "allowWrite" : true },
      { "name" : "debug", "allowWrite" : true },
      { "name" : "input", "allowWrite" : true },
      { "name" : "serverMode", "allowWrite" : true },
      { "name" : "metadataPush", "allowWrite" : true },
      { "name" : "channel", "allowWrite" : true },
      { "name" : "fireAndForget", "allowWrite" : true },
      { "name" : "requestResponse", "allowWrite" : true },
      { "name" : "stream", "allowWrite" : true }
    ],
    "methods" : [
      { "name" : "<init>" }
    ]
  }
]
